<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-lg-3 col-xl-2">
            <a
              routerLink="/customer/add-new-customer"
              class="btn btn-primary mb-3 mb-lg-0"
              ><i class="bx bxs-plus-square"></i>Add Customer</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <table datatable [dtOptions]="dtOptions" class="row-border hover">
		    </table>
      </div>
    </div>
  </div>
</div>
<!--end row-->