<!--breadcrumb-->
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="breadcrumb-title pe-3">Stock</div>
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="#" (click)="$event.preventDefault()"><i class="bx bx-box"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Inventory</li>
            </ol>
        </nav>
    </div>
    <!-- Settings button -->
    <!-- <div class="ms-auto">
        <div class="btn-group">
            <button type="button" class="btn btn-primary">Settings</button>
            <button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">	<span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">	<a class="dropdown-item" href="#" (click)="$event.preventDefault()">Action</a>
                <a class="dropdown-item" href="#" (click)="$event.preventDefault()">Another action</a>
                <a class="dropdown-item" href="#" (click)="$event.preventDefault()">Something else here</a>
                <div class="dropdown-divider"></div>	<a class="dropdown-item" href="#" (click)="$event.preventDefault()">Separated link</a>
            </div>
        </div>
    </div> -->
</div>
<!--end breadcrumb-->

<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-lg-3 col-xl-2">
              <a
                routerLink="/product/add-new-products"
                class="btn btn-primary mb-3 mb-lg-0"
                ><i class="bx bxs-plus-square"></i>Add Product</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="card">
    <div class="card-body">
        <!-- <div class="d-lg-flex align-items-center mb-4 gap-3">
            <div class="position-relative">
                <input type="text" class="form-control ps-5 radius-30" placeholder="Search Order"> <span class="position-absolute top-50 product-show translate-middle-y"><i class="bx bx-search"></i></span>
            </div>
          <div class="ms-auto"><a href="#" (click)="$event.preventDefault()" class="btn btn-primary radius-30 mt-2 mt-lg-0"><i class="bx bxs-plus-square"></i>Add New Order</a></div>
        </div> -->
        <div class="table-responsive">
            <table class="table mb-0">
                <thead class="table-light">
                    <tr>
                        <th>SKU#</th>
                        <th>Product Name</th>
                        <th>Status</th>
                        <th>Stock</th>
                        <!-- <th>Date</th> -->
                        <th>View Details</th>
                        <th>Update Stock</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">
                        <td>
                            <div class="d-flex justify-content-center">
                                <!-- <div>
                                    <input class="form-check-input me-3" type="checkbox" value="" aria-label="...">
                                </div> -->
                                <div class="">
                                    {{product.sku}}
                                </div>
                            </div>
                        </td>
                        <td>{{product.name}}</td>
                        <td>
                            <div [ngClass]="{
                                'badge rounded-pill p-2 text-uppercase px-3': 1,
                                'text-danger bg-light-danger': product.stock === 0,
                                'text-warning bg-light-warning': (product.stock != 0 && product.stock <= 10),
                                'text-success bg-light-success': product.stock > 10 }"
                                >
                                <i class='bx bxs-circle me-1'></i>
                                {{product.stock === 0 ? 'Out of Stock':
                                (product.stock != 0 && product.stock <= 10) ?
                                'Limited Stock': 'Enough Stock'}}
                            </div>
                        </td>
                        <td>{{product.stock}}</td>
                        <!-- <td>June 10, 2020</td> -->
                        <td><button type="button" class="btn btn-primary btn-sm radius-30 px-4" (click)="showDetails(product.sku)">View Details</button></td>
                        <td>
                            <div class="d-flex justify-content-center order-actions stock-input">
                                <ng-container *ngIf="productToUpdate !== product.sku">
                                    <button (click)="showUpdateStockInput(product.sku)" class=""><i class='bx bxs-layer'></i></button>
                                </ng-container>
                                <div class="d-flex" *ngIf="productToUpdate === product.sku && update">
                                    <input type="number" size="4" name="stockInput" [(ngModel)]="stockInput">
                                    <button mat-button (click)="updateStock(product.name, product.sku, stockInput)" style="margin-left: 5px;"><i class='bx bxs-check-circle'></i></button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
