table, thead, tbody, tr, th, td {
    text-align: center !important;
}

.order-actions button {
    font-size: 18px;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f1f1f1;
    border: 1px solid #eeecec;
    text-align: center;
    border-radius: 20%;
    color: #2b2a2a;
}

.order-actions button:hover {
    color: #0d6efd;
}

.stock-input input[type='number']{
    width: 70px !important;
}

/* Chrome, Safari, Edge, Opera */
.stock-input input::-webkit-outer-spin-button,
.stock-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.stock-input input[type=number] {
  -moz-appearance: textfield;
}