	<!--start header -->
	<header>
	<div class="topbar d-flex align-items-center">
		<nav class="navbar navbar-expand">
		<div class="mobile-toggle-menu">
			<i (click)="toggleSidebar()" class="bx bx-menu"></i>
		</div>
		<!-- <div class="search-bar flex-grow-1">
					<div class="position-relative search-bar-box">
						<input type="text" class="form-control search-control" placeholder="Type to search..."> <span class="position-absolute top-50 search-show translate-middle-y"><i class="bx bx-search"></i></span>
						<span class="position-absolute top-50 search-close translate-middle-y"><i class="bx bx-x"></i></span>
					</div>
				</div> -->
		<div class="top-menu ms-auto">
			<ul class="navbar-nav align-items-center">
			<!-- <li class="nav-item mobile-search-icon">
				<a class="nav-link" href="#" (click)="$event.preventDefault()">
				<i class="bx bx-search"></i>
				</a>
			</li> -->
			<li class="nav-item dropdown dropdown-large">			
				<button mat-button [matMenuTriggerFor]="menu" class="nav-link"><i class="bx bx-category"></i></button>
				<mat-menu #menu="matMenu" class="d-flex">
					<div class="row row-cols-3 g-3 p-3">
						<div class="col">
							<button mat-menu-item class="d-flex text-center" (click)="navigate('package')">
									<div class="app-box mx-auto bg-gradient-cosmic text-white">
										<i class="bx bx-package"></i>
									</div>
							</button>
						</div>
						<div class="col">
							<button mat-menu-item class="d-flex text-center" (click)="navigate('user')">
									<div class="app-box mx-auto bg-gradient-burning text-white">
										<i class="bx bx-user"></i>
									</div>
							</button>
						</div>
						<div class="col">
							<button mat-menu-item class="d-flex text-center" (click)="navigate('box')">
									<div class="app-box mx-auto bg-gradient-lush text-white">
										<i class="bx bx-box"></i>
									</div>
							</button>
						</div>	
					</div>
				</mat-menu>
			</li>
			<li class="nav-item dropdown dropdown-large">			
				<button mat-button [matMenuTriggerFor]="notification" class="nav-link position-relative"><span class="alert-count">2</span>
					<i class="bx bx-bell"></i></button>
				<mat-menu #notification="matMenu">
					<div style="max-height: 500px;">
						<div class="">
							<div class="notification-ui_dd-header">
								<h4 class="text-center">Notification</h4>
							</div>
							<div class="notification-ui_dd-content">
								<div class="notification-list notification-list--unread">
									<div class="notification-list_img">
										<img src="https://i.imgur.com/zYxDCQT.jpg" alt="user">
									</div>
									<div class="notification-list_detail">
										<p><b>John Doe</b> reacted to your post</p>
										<p><small>10 mins ago</small></p>
									</div>
									<!-- <div class="notification-list_feature-img">
										<img src="https://i.imgur.com/AbZqFnR.jpg" alt="Feature image">
									</div> -->
								</div>
								<div class="notification-list">
									<div class="notification-list_img">
										<img src="https://i.imgur.com/w4Mp4ny.jpg" alt="user">
									</div>
									<div class="notification-list_detail">
										<p><b>Richard Miles</b> reacted to your post</p>
										<p><small>1 day ago</small></p>
									</div>
								</div>
							</div>
							<!-- <div class="notification-ui_dd-footer">
								<a href="#!" class="btn btn-success btn-block">View All</a>
							</div> -->
						</div>
					</div>
				</mat-menu>
			</li>
			</ul>
		</div>
		<div class="user-box dropdown">
			<a
			class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret"
			href="#"
			role="button"
			data-bs-toggle="dropdown"
			aria-expanded="false"
			[matMenuTriggerFor]="profile"
			>
			<img
				src="assets/images/avatars/avatar-2.png"
				class="user-img"
				alt="user avatar"
			/>
			<div class="user-info ps-3">
				<p class="user-name mb-0">Pauline Seitz</p>
				<p class="designattion mb-0">Web Designer</p>
			</div>
			</a>
			<mat-menu #profile="matMenu">
				<button mat-menu-item (click)="navigate('profile')">
					<i class="bx bx-user"></i>
					<span style="margin-left: 10px;">Profile</span>
				</button>
				<div class="dropdown-divider mb-0"></div>
				<button mat-menu-item>
					<i class="bx bx-log-out-circle"></i>
					<span style="margin-left: 10px;">Logout</span>
				</button>
				<!-- <ul class="dropdown-menu show dropdown-menu-end">
				<li>
					<a class="dropdown-item" routerLink="/user-profile"
					><i class="bx bx-user"></i><span>Profile</span></a
					>
				</li>
				<li>
					<div class="dropdown-divider mb-0"></div>
				</li>
				<li>
					<a class="dropdown-item" routerLink="/auth/sign-in"
					><i class="bx bx-log-out-circle"></i><span>Logout</span></a
					>
				</li>
				</ul> -->
			</mat-menu>
		</div>
		</nav>
	</div>
	</header>
	<!--end header -->
